h3{
    text-align: center;
    font-size: 4vw;
    margin-bottom:0px;
}
.galleries img{
    width: 60%;
    height: 20%;
}
.galleries img, h3{
    margin-top:30px;
}
.galleries{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}