:root {
    --orange-color:#faa169;
    --teal-color:#99CCCC;
    --pink-color:#FFCCCC;
    --green-color:#99CC98;
    --yellow-color:#FFCC33;
    --blue-color:#99CCFF;
}
h1{
    font-size: 5vw;
    line-spacing:50px;
    display: inline;
    position: absolute;
    margin-left: 10px;
    margin-top: 1vw;
    font-family:IrishGrover;
}
@font-face{
    font-family:IrishGrover;
    src:url("Irish_Grover/IrishGrover-Regular.ttf") format("truetype");
}
.navigationBar {
    font-size: 1.25em;
    display: flex;
    justify-content: space-around;
}
.navItem{
    text-align: center;
    padding:10px;
    flex:1;
    margin:0px;
}
.navItem:nth-child(1) {
    background:var(--pink-color);
}
.navItem:nth-child(2) {
    background:var(--yellow-color);
}
.navItem:nth-child(3) {
    background:var(--green-color);
}
.mainImage h1{
    background-image:url("../images/homepage.webp");
    background-size:100%;
    letter-spacing: 3vw;
    text-align: center;
    background-repeat:no-repeat;
    font-size:18vw;
}
h2 a {
    text-decoration: none; /* Remove underlines from links */
    color: black; /* Link text color */
}

@media (max-width: 750px) {

    .navigationBar{
        display:inherit;
    }

}