:root {
    --orange-color:#faa169;
    --teal-color:#99CCCC;
    --pink-color:#FFCCCC;
    --green-color:#99CC98;
    --yellow-color:#FFCC33;
    --blue-color:#99CCFF;
}
h1{
    font-size: 3vw;
    line-spacing:50px;
    display: inline;
    position: absolute;
    margin-left: 10px;
    margin-top: 1vw;
    font-family:IrishGrover;
}
@font-face{
    font-family:IrishGrover;
    src:url("Irish_Grover/IrishGrover-Regular.ttf") format("truetype");
}
.navigationBar {
    font-size: 1.25em;
    display: flex;
    justify-content: space-around;
}
.navItem{
    text-align: center;
    padding:10px;
    flex:1;
    margin:0px;
}
h2{
    font-size: 4vw;
    font-family:IrishGrover;
    letter-spacing: 8px;
}
#plan{
    background:var(--pink-color);
}
#galleries{
    background:var(--yellow-color);
}
#reviewTitle{
    background:var(--green-color);
}
a {
    text-decoration: none; /* Remove underlines from links */
    color: black; /* Link text color */
}
@font-face{
    font-family:Mansalva;
    src:url("Mansalva/Mansalva-Regular.ttf") format("truetype");
}
@font-face{
    font-family:Bitter;
    src:url("Bitter/Bitter-VariableFont_wght.ttf") format("truetype");
}

@media (max-width:800px){
    h1{
            font-size:4vw;
    }
}