
.side-panel {
    background-color: var(--orange-color);
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 5px;
    font-size: 10vw;
    font-family: Mansalva;
    padding-top: 10px;
}

.side-panel p {
    margin: 0; /* Remove default margin for paragraphs */
}
#body {
    display:flex;
}
#gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 50px;
        align-content: flex-start;
}
#line2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
}
#farmerCat{
    margin-left:35px;
}

@media (max-width:800px){
    #farmerCat > img, #scream > img, #sonOfMan > img{
        width:90%;

    }
    #farmerCat{
        margin-bottom:30px;
    }
}