#rethink{
    background:var(--blue-color);
    font-family:Mansalva;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 5px;
    font-size: 10vw;
}
.rethinkGallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
div > img{
    width:100%;
}
.artPiece{
    width:40%;
    margin:40px;
}
#fountain > img{
    height:86%;
}
#childArt > img{
    height:65%;
}
#soundWave > img{
    height:80%;
}
#premierDisque > img{
    height:80%;
}
