.review {
      margin: 0;
      padding: 0;
      height: 250px;
      display: flex;
      background: url('../images/reviews/blue.jpg') no-repeat center;
      background-size: 350px 300px;
      padding: 30px;
    }

.review {
          text-align: center;
          width: 25%;
          justify-content: center;
          align-items: center;
          font-family:Bitter;
}

#reviewBody{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-around;
}
p{
    padding:30px;
}
#reviewInfo{
    text-align:center;
    font-family: Mansalva;
}

/* changing to one singular column for small screens (like phones) */
@media (max-width: 800px) {
    #reviewBody{
        display:block;
    }
    .review{
        width:85%;

    }
    p{
        width:30%;
    }
    h2{
       font-size:6vw;
    }

}
/* changing to two columns of reviews for tablet sized screens */
@media (max-width: 1150px) and (min-width:801px) {
    .review{
        width:40%;

    }
    p{
            width:60%;
        }

}